*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

img {
  width: 100%;
  height: 15rem;
  object-fit: contain;
}

.section {
  padding: 5rem 0;
  background: #e2e8f0;
}

.section .title {
  text-align: center;
  margin-bottom: 3rem;
}

.title-underline {
  height: .2rem;
  width: 10rem;
  margin: auto;
  background: #60dbfb;
}

.section-center {
  width: 90vw;
  max-width: 1120px;
  margin: 0 auto 2rem;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.section-center a {
  transition: all 0.3s linear;
  border-radius: 0.25rem;
  background: #f1f5f8;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.section-center a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.img-container {
  background: #f1f5f8;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

footer {
  text-align: center;
  padding: 1rem 1.25rem;
  background: #fff;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

}

footer h5 {
  margin-bottom: 0;
  font-weight: 500;
  color: #0f172a;
  font-size: 1.25rem;
  text-transform: capitalize;
}